html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #004358 0%, #001c25 100%);
}

#SceneContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

#GroupContainer {
  width: 50%;
  height: 50%;
  position: relative;
  perspective: 300px;
  perspective-origin: 10% 10%;
  transform-style: preserve-3d;
  animation-name: animateScene;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  -webkit-perspective: 300px;
  -webkit-perspective-origin: 10% 10%;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-name: animateScene;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}

.pane3d {
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.5);
  position: absolute;
}
.pane3d:hover {
  box-shadow: 0 0 30px #BEDB39;
}

#Pane1 {
  background: rgba(190, 219, 57, 0.5);
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

#Pane2 {
  background: rgba(31, 138, 112, 0.5);
  -webkit-transform: translate3d(-10%, 20%, 40px);
  transform: translate3d(-10%, 20%, 40px);
  -webkit-filter: blur(2px);
  filter: blur(2px);
}

#Pane3 {
  background: rgba(87, 131, 145, 0.5);
  -webkit-transform: translate3d(-70%, -40%, 80px);
  transform: translate3d(-70%, -40%, 80px);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

#Pane4 {
  background: rgba(190, 219, 57, 0.5);
  -webkit-transform: translate3d(60%, -60%, 80px);
  transform: translate3d(60%, -60%, 80px);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

#Pane5 {
  background: rgba(31, 138, 112, 0.5);
  -webkit-transform: translate3d(-60%, 50%, -100px);
  transform: translate3d(-60%, 50%, -100px);
  -webkit-filter: blur(9px);
  filter: blur(9px);
}

#Pane6 {
  background: rgba(87, 131, 145, 0.5);
  -webkit-transform: translate3d(50%, 70%, 80px);
  transform: translate3d(50%, 70%, 80px);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

#Pane7 {
  background: rgba(87, 131, 145, 0.5);
  -webkit-transform: translate3d(30%, -50%, -180px);
  transform: translate3d(30%, -50%, -180px);
  -webkit-filter: blur(12px);
  filter: blur(12px);
}

@-webkit-keyframes animateScene {
  from {
    transform: rotateY(-30deg) rotateX(-5deg);
  }
  to {
    transform: rotateY(30deg) rotateX(5deg);
  }
}
@keyframes animateScene {
  from {
    transform: rotateY(-30deg) rotateX(-5deg);
  }
  to {
    transform: rotateY(30deg) rotateX(5deg);
  }
}
